{% import 'macros.html.twig' as macros %}

{% extends 'layouts/base.html.twig' %}

{% block title '| Latest Movies' %}

{% block content %}
    <section id="central-section" class="bg-light p-5">
        <div class="container jumbotron p-5 img-rounded">
            <div class="row mb-5">
                <div class="col-lg">
                    <h1 class="display-4 font-weight-bold">Imported movies.</h1>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-3 text-center text-md-left pb-3">
                    <p class="lead font-weight-bold">Latest Movies By Genre</p>
                    <ul class="list-unstyled">
                        <li><a href="#" title="Choose your movie by genre">Action</a></li>
                        <li><a href="#" title="Choose your movie by genre">Adventure</a></li>
                        <li><a href="#" title="Choose your movie by genre">Animation</a></li>
                        <li><a href="#" title="Choose your movie by genre">Biography</a></li>
                        <li><a href="#" title="Choose your movie by genre">Comedy</a></li>
                        <li><a href="#" title="Choose your movie by genre">Crime</a></li>
                        <li><a href="#" title="Choose your movie by genre">Drama</a></li>
                        <li><a href="#" title="Choose your movie by genre">Family</a></li>
                        <li><a href="#" title="Choose your movie by genre">Fantasy</a></li>
                        <li><a href="#" title="Choose your movie by genre">Film-Noir</a></li>
                        <li><a href="#" title="Choose your movie by genre">History</a></li>
                        <li><a href="#" title="Choose your movie by genre">Horror</a></li>
                        <li><a href="#" title="Choose your movie by genre">Music</a></li>
                        <li><a href="#" title="Choose your movie by genre">Musical</a></li>
                        <li><a href="#" title="Choose your movie by genre">Mystery</a></li>
                        <li><a href="#" title="Choose your movie by genre">Romance</a></li>
                        <li><a href="#" title="Choose your movie by genre">Sci-Fi</a></li>
                        <li><a href="#" title="Choose your movie by genre">Sport</a></li>
                        <li><a href="#" title="Choose your movie by genre">Thriller</a></li>
                        <li><a href="#" title="Choose your movie by genre">War</a></li>
                        <li><a href="#" title="Choose your movie by genre">Western</a></li>
                    </ul>
                </div>

                <div class="col-md-9 table-responsive img-rounded bg-light p-4">
                    <!-- Latest movies -->
                    {% for movie in movies %}
{#                        {{ macro.render_imported_movie(movie) }}#}
                        <div class="row">
                            <div class="col-lg-3">
                                <a href="/movie/{{ movie.id }}" title="{{ movie.title }}" class="album-link">
                                    <img height="209" width="140" src="{{ movie.poster}}">
                                </a>
                            </div>
                            <div class="col-lg-9">
                                <a href="/movie/{{ movie.id }}" title="Click to see the movie details">
                                    <h6 class="m-1 font-weight-bold">
                                        {{ movie.title }}
                                    </h6>
                                </a>
                                <small class="text-success font-weight-bold m-1">{{ movie.releaseDate|date('Y-m-d') }}</small>
                                <p class="ml-1 mr-1 mt-3 mb-2">
                                    <span class="text-muted">{{ movie.plot }}</span>
                                </p>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
